@import url(//fonts.googleapis.com/earlyaccess/notosansgeorgian.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#more {
  display: none;
}
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
  color: red;
}

.tabsjs {
  display: flex;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 4rem;
}
.tab {
  white-space: nowrap;
  background-color: #f1f1f1;
  width: 15%;
  height: auto;
}

.tabcontent {
  display: flex;
  padding: 1rem;
  width: 100%;
  min-height: 577px;
  border-left: none;
  height: auto;
  justify-content: space-between;
}
.tab_decsr {
  width: calc(40% - 1rem);
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
}

/* .tab_decsr > p {
  text-align: justify;
  font-size: 25px;
  text-align-last: center;
} */
.tab_decsr p {
  text-align: justify;
  font-size: 25px;
  text-align-last: center;
}
.tab_decsr h3 {
  font-size: 40px;
  text-align: center;
}

.tab_img_container {
  width: 60%;
  height: auto;
  display: flex;
}
.tab_img_container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.nav {
  width: 85%;
  margin: 0 auto;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.div-top {
  align-self: center;
}
.div-top > a {
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 18px;
  margin-right: 32px;
  white-space: nowrap;
  color: #091f40;
  font: weight 600;
  align-content: center;
  align-self: center;
  align-items: center;
  transition: 0.3s;
}
.div-top > a:hover {
  border-bottom: 1px solid #091f40;
}
.flex > div {
  border-right: 1px solid rgba(9, 31, 64, 0.1);
  align-self: center;
}
.flex > div:nth-child(3) {
  border-right: none;
}
.flex {
  margin-right: 50px;
  display: flex;
  margin-top: 0px;
}
.font {
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
  font-family: "Noto Sans Georgian", sans-serif;
}
.signup {
  margin-right: 20px;
  align-content: center;
}
.signup::before {
  content: url(images/account-circle.png);
  vertical-align: middle;
  margin-right: 8px;
}
.search {
  margin-right: 22px;
}
.borderno {
  border: 0px;
  outline: 0px;
}
.search::before {
  content: url(images/Path\ 640.png);
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 20px;
}
.ge {
  margin-left: 16px;
  margin-right: 16px;
}
.ge::after {
  margin-left: 5px;
  content: url(images/Polygon\ 2.png);
}
.dis0 {
  visibility: hidden;
  width: 26px;
  height: 25px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 20, 36, 0.1);
  padding-left: 16px;
  margin-left: 16px;
  cursor: pointer;
}
.dis-menu {
  font-size: 10px;
  color: #001424;
  font-family: "Noto Sans Georgian", sans-serif;
  position: relative;
}
.span1 {
  width: 24px;
  height: 3.4px;
  border-radius: 2px;
  background-color: #c50033;
}
.span2 {
  width: 15.5px;
  height: 3.4px;
  border-radius: 2px;
  background-color: #c50033;
  margin-top: 3px;
}
.title {
  font-size: 233px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  color: #eef0f6;
  margin-left: 46px;
  position: relative;
}
.fortitle {
  font-size: 34px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  color: #091f40;
  position: absolute;
  left: 150px;
  bottom: 70px;
}
.kayword {
  font-family: "Fira Sans", sans-serif;
  color: #d31e43;
}
.container {
  margin: 0 auto;
  max-width: 1518px;
  padding: 0 1rem;
  overflow: hidden;
}
.imgtitle {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.textarea {
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.text {
  height: 100%;
  width: calc(50% - 0.5rem);
  font-size: 21px;
  font-family: "Noto Sans Georgian", sans-serif;
  line-height: 25px;
  color: #091f40;
  text-align: start;
  white-space: wrap;
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text p {
  text-align: justify;
  text-align-last: center;
  margin-bottom: 1rem;
}
.btn_latest {
  background-color: #d31e43;
  width: 80px;
  height: 30px;
  white-space: nowrap;
}
.btn_latest a {
  color: white;
}

.btn_show {
  justify-content: center;
  min-width: 120px;
  max-width: 150px;
  padding: 0rem 1rem;
  height: 30px;
  background-color: #d31e43;
  align-items: center;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  outline-style: none;
}
.btn_legal a {
  color: white;
}
.btn_show:hover,
:focus {
  transform: translateY(-0em);
}
.btn_show {
  color: #fff;
  transition: 0.3s all;
  border: none;
}
.btn_show:before,
.btn_show:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transition: 0.3s all;
}
.btn_show:before {
  left: 0;
  border-top: 4px solid rgb(0, 20, 36);
}
.btn_show:after {
  right: 0;
  border-bottom: 4px solid rgb(0, 20, 36);
}
.btn_show:hover {
  font-weight: bold;
  letter-spacing: 2px;
}
.btn_show:hover:after,
.btn_show:hover:before {
  width: 100%;
}

.successful {
  font-size: 55px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  line-height: 78px;
  color: #091f40;
  max-width: 1002px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
}
.red {
  color: #d31e43;
}

.plorem {
  text-align: justify;
}
.head {
  display: flex;
  justify-content: space-between;
}
.head > a {
  text-decoration: none;
  font-size: 34px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  color: #091f40;
}
.head > a:first-child {
  color: #d31e43;
}
.plorem {
  font-size: 21px;
  font-family: "Noto Sans Georgian", sans-serif;
  line-height: 25px;
  color: #091f40;
}
.btn {
  width: 54px;
  height: 54px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #091f40;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}
.btn:focus {
  outline-style: none;
  box-shadow: none;
}

.timeline {
  margin-top: 2rem;
  height: 150px;
}
.history {
  color: #191a1e;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 21;
  font-weight: bold;
  margin-bottom: 27.5px;
}
.time {
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #191a1e;
  border-top: 1px solid #ecf0f1;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
time:nth-child(n + 2):nth-child(-n + 7) {
  opacity: 30%;
}
time:nth-child(8) {
  opacity: 25%;
}
time:nth-child(9) {
  opacity: 20%;
}
time:nth-child(10) {
  opacity: 15%;
}
time:nth-child(11) {
  opacity: 10%;
}
.active {
  color: #e60d2d;
  opacity: 100%;
  font-size: 34px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  align-items: center;
}
.structure {
  margin-top: 3rem;
}
.structure_head {
  color: #091f40;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  font-size: 55px;
  white-space: 78px;
}
.srtucture_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}
.structure_container_img {
  width: calc(50% - 0.5rem);
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
}

.container_img_first img {
  object-fit: cover;
  width: 100%;
}

.container_img_second img {
  object-fit: cover;
  width: 100%;
}
.structure_absolute {
  position: absolute;
  width: 40%;
  height: auto;
  left: 80%;
  top: 80%;
  color: white;
  background-color: #0b385e;
  display: flex;
  flex-direction: column;
  border-radius: 0.825rem;
  align-items: center;
  transition: 0.1s;
  transition-timing-function: linear;
  opacity: 0%;
}
.animation_from_left {
  left: -20%;
  top: 80%;
}
.structure_absolute h3 {
  text-align: center;
  font-size: 20px;
}
.structure_absolute p {
  text-align: center;
  font-size: 16px;
  margin-top: 0.6rem;
}
.structure_absolute button {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  position: relative;
  background-color: #d31e43;
  cursor: pointer;
  outline-style: none;
  box-shadow: none;
  transition: 0.3s;
  white-space: nowrap;
}
.structure_absolute button > a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-family: "Noto Sans Georgian", sans-serif;
  line-height: 17px;
  align-self: center;
}
.structure_absolute button:hover {
  color: white;
}
.structure_container_img:hover .structure_absolute {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  transition: 1s;
  margin: 0 auto;
}

.international_container {
  position: relative;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  margin-top: 10rem;
  overflow: hidden;
}

.international {
  display: flex;
}
.international_img {
  width: 100%;
  height: auto;
}
.international_absolute {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #0b385e;
  top: 100%;
  transition: 0.5s;
  transition-timing-function: linear;
  opacity: 20%;
  padding: 1rem;
}
.international_container:hover .international_absolute {
  top: 50%;
  transform: translateY(-50%);
  opacity: 90%;
}

.absolute_cooperation {
  width: 653px;
  height: auto;
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  align-self: center;
}

.cooperation_btn_div {
  align-self: center;
}
.btn-see {
  width: 127px;
  height: 40px;
  position: relative;
  background-color: #d31e43;
  cursor: pointer;
  outline-style: none;
  box-shadow: none;
  transition: 0.3s;
  display: flex;
  white-space: nowrap;
}
.btn-see a {
  color: white;
}

.brand_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 5rem;
}
.brand_col1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand_col2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand_img {
  height: 100%;
  width: auto;
  font-size: 40px;
}

.legal_container {
  margin-top: 3rem;
}
.legal_head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.legal {
  color: #091f40;
  font-size: 55px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}
.legal_content_div {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  background-color: rgb(241, 241, 241);
  border-radius: 0.625rem;
}

.legal_content {
  width: calc(100% / 3);

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_title {
  margin-bottom: 0.5rem;
  font-size: 35px;
  /* border-bottom: 1px solid #ccc; */
  padding-bottom: 0.5rem;
  text-align: center;
}
.content_date {
  color: #d31e43;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: calc(33%);
  margin: 0 auto;
  margin-top: 1rem;
}
.content_descr {
  text-align: justify;
  text-align-last: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}

.accordeon {
  width: 100%;
  font-family: helvetica, sans-serif;
  margin-top: 9rem;
  overflow: hidden;
}
.accordeon-title {
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  color: #091f40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s linear;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  /* border-top: 1px solid #ccc; */
}
.accordeon-title:hover.accordeon-title {
  background-color: #00143c;
  color: white;
}
.hover_accordion_active {
  background-color: #00143c;
  color: white;
  margin-top: 1rem;
  transition: 0.5s linear;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.hover_accordion_content_active {
  margin-bottom: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordeon-title:after {
  content: "+";
  display: flex;
  font-size: 1.2em;
  color: #f2f2f2;
  border: 1px solid #d31e43;
  background-color: #d31e43;
  min-width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #001424;
}

.accordeon-title.is-opened:after {
  content: "-";
  color: white;
}

.accordeon-content {
  text-align: justify;
  font-size: 20px;
  display: none;
  padding: 1rem 4rem;
  background-color: rgb(241, 241, 241);
}

.head2 {
  width: 100%;
  margin-bottom: 10px;
}

.documents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  border-top: 1px solid #ecf0f1;
}

.number {
  font-size: 21px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: 600;
  color: #091f40;
  margin-right: 44px;
  margin-left: 40px;
  align-self: center;
}

.btn_loadmore {
  width: 150px;
  margin-top: 2rem;
}

.margin {
  margin-top: 196px;
}
.container_become {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  height: auto;
  margin-top: 5rem;
}
.img-become {
  width: 100%;
  height: auto;
  position: relative;
}
.img-become img {
  width: 100%;
  height: auto;
  display: flex;
}
.absolute_become_container {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  border-radius: 0.625rem;
  height: auto;
  width: 50%;
  background-color: #001424;
}
.become_container_inner {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.inner_text {
  width: 50%;
  height: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 0.625rem;
  padding: 1rem;
  justify-content: space-evenly;
}
.text_title,
.text_info {
  color: #001424;
  display: flex;
  align-self: center;
  text-align: center;
}
.text_title {
  font-size: 35px;
}
.text_info {
  line-height: 24px;
  font-size: 20px;
  text-align: justify;
  display: flex;
  text-align-last: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  padding-left: 1rem;
}
.btn_hover {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.btn-sign {
  width: 100%;
  height: 50px;
  background-color: #d31e43;
}
.btn-reg {
  background-color: #d31e43;
  margin-top: 2rem;
  white-space: nowrap;
  width: 100%;
  height: 50px;
}
.btn_hover:hover,
:focus {
  transform: translateY(0);
}
.btn_hover {
  color: #fff;
  transition: 0.3s all;
  border: none;
}
.btn_hover:before,
.btn_hover:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transition: 0.3s all;
}
.btn_hover:before {
  left: 0;
  border-top: 4px solid #fff;
}
.btn_hover:after {
  right: 0;
  border-bottom: 4px solid #fff;
}
.btn_hover:hover {
  font-weight: bold;
  letter-spacing: 2px;
}
.btn_hover:hover:after,
.btn_hover:hover:before {
  width: 100%;
}

.btn-sign > a {
  font-size: 13px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: bold;
  color: #fff;
}

.fa-user:before {
  content: "\f007";
  color: white;
  font-size: 20px;
  margin-left: 10px;
  padding-top: -10px;
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
.btn-reg > a {
  font-size: 13px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: bold;
  color: #fff;
}
.footer_container {
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer_content {
  width: calc(100% / 3);
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
}
.content_convert {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.content_sign {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.btn-signup {
  width: 100%;
  max-width: 100%;
  margin: unset;
  height: 50px;
  background-color: #d31e43;
}
.fa-user-plus:before {
  content: "\f234";
  margin-left: 0.5rem;
  font-size: 20px;
  color: white;
}
.convert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-arrow-alt-circle-up:before,
.fa-arrow-alt-circle-down:before {
  content: "\f35b";
  margin-right: 0.5rem;
  font-size: 20px;
  color: #d31e43;
}
.fa-arrow-alt-circle-down:before {
  color: green;
}
.footer_title {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  font-size: 25px;
  text-align: center;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}
.address_address {
  margin-top: 0.5rem;
}
.address_email {
  margin-top: 0.5rem;
}
.address_hotline {
  margin-top: 0.5rem;
  display: flex;
  color: #0b385e;
}
.address_hotline p {
  color: #001424;
}

@media screen and (max-width: 1600px) {
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .flex {
    order: 1;
    justify-content: flex-end;
    margin-right: 0px;
  }
  .div-top {
    order: 2;
    justify-content: flex-end;
    align-self: flex-end;
  }
  .div-top > a {
    font-size: 21px;
  }
  .imgtitle {
    display: flex;
    justify-content: center;
    max-width: 1314px;
  }

  .plorem {
    height: 280px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1366px) {
  .tab_decsr {
    width: calc(40% - 1rem);
  }
  .tab {
    width: auto;
  }
  .tab_decsr p {
    font-size: 20px;
  }
  .tab_decsr h3 {
    font-size: 30px;
  }
  .div-top > a {
    font-size: 13px;
    font-weight: bold;
  }
  .title > p {
    font-size: 144px;
  }
  .fortitle {
    bottom: 35px;
  }
  .plorem {
    height: 200px;
  }
  .absolute_become_container {
    width: 70%;
  }
  .cooperation {
    font-size: 34px;
  }
  .legal {
    font-size: 34px;
  }

  .international_container {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .legal_content {
    padding: 0.5rem;
  }
  .content_title {
    font-size: 25px;
    margin-bottom: 0rem;
  }
  .content_date {
    margin-top: 0.5rem;
  }
  .content_descr {
    font-size: 16px;
  }
  .accordeon {
    border: none;
    overflow: visible;
  }
  .accordeon-title {
    font-size: 20px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
  }
  .accordeon-content {
    font-size: 15px;
    padding: 0.5rem 2rem;
  }
  .accordeon-title:after {
    min-width: 30px;
    height: 30px;
  }
  .hover_accordion_active {
    margin-top: 0.5rem;
  }

  .hover_accordion_content_active {
    margin-bottom: 0.5rem;
  }
  .tabsjs {
    display: flex;
    flex-direction: column;
  }
  .tab {
    display: flex;
  }
  .tab_decsr {
    width: 100%;
  }
  .tabcontent {
    display: flex;
    flex-direction: column;
  }
  .tab_img_container {
    width: 100%;
    margin-top: 1rem;
  }
  .tabcontent {
    min-height: auto;
  }
  .tab_decsr p {
    font-size: 20px;
  }
  .text p {
    line-height: 14px;
    margin-bottom: 0.5rem;
  }
  .div-top > a {
    font-size: 13px;
    font-weight: bold;
  }

  .title > p {
    font-size: 89px;
  }
  .fortitle {
    font-size: 21px;
    font-weight: 600px;
    bottom: 25px;
  }
  .img-title {
    max-width: 954px;
  }
  .successful {
    font-size: 13px;
  }
  .text {
    font-size: 13px;
  }
  .head > a {
    font-size: 21px;
    margin-left: 15px;
  }

  .head {
    justify-content: center;
    order: 1;
  }

  .plorem {
    margin-top: 1rem;
    font-size: 13px;
    order: 3;
  }
  .inner_text {
    width: 60%;
  }
  .text_title {
    white-space: nowrap;
    font-size: 25px;
  }

  .btn_become {
    width: 80%;
  }
  .text_info {
    line-height: 17px;
  }
  
  .on > p {
    height: 1px;
    visibility: hidden;
    margin-bottom: 0px;
  }
  .on > h3 {
    font-size: 34px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
  }
  .on > img {
    margin-bottom: 0px;
  }
  .international_container {
    margin-top: 3rem;
  }
  .absolute_cooperation > p {
    font-size: 30px;
  }
  .international_absolute {
    justify-content: space-evenly;
  }
  .footer_title {
    font-size: 20px;
    white-space: nowrap;
  }
  .content_convert,
  .address,
  .convert {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer_content {
    width: 100%;

    padding:.5rem 0rem;
  }
  .address,
  .content_convert{
    width: 50%;
    margin: 0 auto;
  }
  
  .content_sign{
    width: 50%;
  }
  .footer_title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  .btn-signup {
    /* margin-top: 1rem; */
  }
  .legal_content_div {
    flex-direction: column;
  }
  .legal_content {
    width: 100%;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ccc;
  }
  .legal_content:last-child {
    border-bottom: none;
  }

  .accordeon-title {
    flex-direction: row;
    text-align-last: center;
    text-align: center;
  }
  .accordeon-title:after {
    /* width: 50%; */
    height: 30px;
  }
  .textarea {
    flex-direction: column;
  }
  .text {
    width: 100%;
  }
  .text_id {
    margin-top: 1rem;
  }
  .absolute_become_container {
    width: 80%;
  }
  .become_container_inner {
    flex-direction: column;
    padding: 0.5rem;
  }
  .inner_text {
    width: 100%;
    padding: 0.5rem;
  }
  .text_title {
    font-size: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-left: 0rem;
    margin-top: 20px;
  }
  .buttons button {
    height: 30px;
    width: 40%;
  }

  .btn_become {
    width: calc(50% - 1rem);
  }

  .btn-reg {
    margin-top: 0rem;
  }
  .btn-see {
    height: 30px;
  }
  .absolute_cooperation > p {
    font-size: 20px;
  }
  .flex > div:nth-child(4) {
    border-right: none;
  }
  .structure_absolute {
    left: 30%;
    top: 100%;
  }
  .structure_absolute button {
    height: 30px;
  }
  .animation_from_left {
    left: 30%;
    top: -30%;
  }
  .container_img_second {
    margin-top: 0.5rem;
  }
  .div-top {
    visibility: hidden;
    align-self: auto;
    display: flex;
    flex-direction: column;
  }
  .successful {
    margin-top: 2rem;
    line-height: 20px;
  }
  .tabsjs {
    margin-top: 2rem;
  }
  .flex {
    margin-top: 20px;
  }
  .dis0 {
    visibility: visible;
  }
  .show {
    visibility: visible;
  }
  .div-top > a {
    margin-bottom: 10px;
    width: 100px;
    border-bottom: 2px solid transparent;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    transition: 0.3s;
  }
  .div-top a:hover {
    transform: scale(1.5);
    border-bottom: 2px solid #1f4e75;
    transition: 0.3s;
  }

  .img-title {
    max-width: 768px;
  }

  .srtucture_container {
    flex-direction: column;
  }
  .structure_container_img {
    width: 100%;
  }

  .structure_head {
    font-size: 21px;
    font-weight: 600;
  }

  
  .cooperation {
    font-size: 21px;
  }
  
  

  .legal {
    font-size: 21px;
    font-weight: 600;
  }

  
  .btn_become {
    height: 35px;
  }
  .fo-head,
  .fo-ex,
  .fo-addr {
    font-size: 13px;
  }
  .fo-up {
    font-size: 21px;
  }
  .fo-exchange {
    margin-left: 5px;
    margin-right: 5px;
  }
  .foo-flex {
    display: flex;
    flex-direction: column;
  }
  .foo {
    order: 1;
  }
  .connect {
    order: 2;
    align-self: flex-start;
    margin-top: 15px;
  }
  .international_absolute {
    padding: 0.2rem;
  }
  .brand_container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0rem;
  }
  .brand_col1 {
    justify-content: space-between;
  }
  .brand_col2 {
    justify-content: space-between;
    margin-top: 1rem;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
  .address,
  .content_convert{
    width: 100%;
    /* margin: 0 auto; */
  }
  .legal_content {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  .legal_content:last-child {
    border-bottom: none;
  }
  .legal_content_div {
    margin-top: 1rem;
  }
  .accordeon-title {
    padding: 0.1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .accordeon-title::after {
    width: 50%;
    border-radius: 10px;
    margin-top: 0.5rem;
  }
  .hover_accordion_active {
  }
  .absolute_become_container {
    width: 97%;
  }
  .inner_text {
    padding: 0.2rem 0.4rem;
  }
  .text_title {
    font-size: 18px;
  }
  .text_info {
    font-size: 14px;
    line-height: 12px;
  }
  .become_container_inner {
    padding-bottom: 2rem;
  }
  .absolute_become_container {
    transform: translate(-50%, 70%);
  }
  .buttons {
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);
  }
  .btn_become {
    border: 1px solid transparent;
  }
  .btn-sign {
    background-color: #d31e43;
  }
  .fa-user:before {
    color: #001424;
  }
  .btn-see {
    width: auto;
    height: 25px;
  }
  .absolute_cooperation > p {
    font-size: 16px;
  }
  .tab button {
    padding: 1rem 0.4rem;
  }
  .tabcontent {
    padding: 0.3rem;
  }
  .tab_decsr {
    padding: 0 0.3rem;
    padding-bottom: 0.3rem;
  }
  .textarea {
    display: flex;
    flex-direction: column;
  }
  .text p {
    margin-bottom: 1rem;
  }
  .text {
    width: 100%;
    margin-bottom: 1rem;
  }

  /* .tab_decsr h3 {
    font-size: 25px;
  } */
  .tab_img_container {
    margin-top: 0.3rem;
  }
  .signup {
    margin-right: 10px;
    align-content: center;
  }
  .search {
    margin-right: 10px;
  }
  .search::before {
    margin-left: 10px;
  }
  .ge {
    margin-left: 10px;
    margin-right: 0px;
  }
  .ge::after {
    margin-right: 10px;
  }
  .dis0 {
    margin-left: 5px;
  }

  .title > p {
    font-size: 89px;
  }
  .fortitle {
    bottom: 3px;
    left: 0px;
  }
  .img-title {
    max-width: 279px;
  }
  .plorem {
    margin-right: 0px;
  }

  .tab_decsr p {
    font-size: 16px;
  }
  .tab_decsr h3 {
    font-size: 20px;
  }
  .text1 {
    margin-right: 8px;
  }

  .timeline {
    display: none;
  }

  .cooperation {
    width: auto;
  }
}
